/* Deklarasi warna */
.blue-1 {
  background-color: #F1F3FF;
}
.blue-4 {
  background-color: #0D28A6;
}
.green-1 {
  background-color: #DEF1DF;
}
.green-2 {
  background-color: #C9E7CA;
}
.green-3 {
  background-color: #92D094;
}
.green-4 {
  background-color: #5CB85F;
}
.green-5 {
  background-color: #3D7B3F;
}

/* Umum */
body {
  font-family: Helvetica, sans-serif;
  font-style: normal;
}
h1 {
  font-weight: bold;
  font-size: 36px;
  line-height: 150%;
}
h2 {
  font-size: 24px;
  font-weight: bold;
}
p {
  font-weight: 300;
  font-size: 18px;
  line-height: 20px;
}

/* NAVBAR */
nav a:hover {
  font-weight: bold;
}
.btn:hover {
  box-shadow: 0 3px 3px 0 rgba(0,0,0,0.24),0 6px 20px 0 rgba(0,0,0,0.19);
}

/* TAMPILAN OUR SERVICE */
.poin {
  width: 24px;
}

/* TAMPILAN OUR US */
.card-why-us {
  min-height: 14rem;
  border-radius: 10px;
}
.icon {
  width: 36px;
}

/* TAMPILAN TESTIMONIAL */
.card {
  border-radius: 10px;
}
.profil {
  width: 70px !important;
  margin: 0 auto;
  margin-top: 50px;
}

/* TAMPILAN BANNER */
.banner {
  border-radius: 10px;
}
.banner-text {
  width: 50%;
  margin: 0 auto;
}

/* TAMPILAN FAQ */
.accordion-header {
  border: solid;
  border-color: rgb(212, 212, 212);
  border-width: 1px;
}

/* TAMPILAN FOOTER */
.footer-menu {
  text-decoration: none;
  color: black;
  font-weight: normal;
}
.sosmed {
  height: 32px;
}
.logo-bawah {
  width: 100px;
}

/* TAMPILAN CARD PEESAN */
.card-pesan {
  width: 80%;
  margin-top: -50px;
  border-radius: 10px;
  box-shadow: inset 0 0 0 1px #ebebeb;
  font-size: 12px;
  z-index: 3;
  position:relative;
}

/* .card-pesan:active {
  background-color: #5CB85F;
} */

.fifty-chars {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.filter {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 60px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6);
}
